@font-face {
    font-family: mifuente2;
    src: url(../Fuentes/main-historia/Raleway-Italic-VariableFont_wght.ttf);
}

@font-face {
    font-family: mifuente;
    src: url(../Fuentes/header-titulo/BebasNeue-Regular.ttf);
}
@media (min-width: 300px) and (max-width: 900px){
    #historia{
        width: 55% !important; 
        margin-left: 3rem; 
        padding-left: 4em;
    }
}

body{
    background-image: url(../img/TLOU-2.webp);
    background-repeat: no-repeat;
    background-position:top;
    background-size: cover;
}

.theader{
    text-align:center;
    font-family: mifuente;
    font-size: 3em;
    margin: 0%;
    color:blanchedalmond;
    background-color: black;
}

#historia{
    color: azure;
    text-align: justify;
    width: 25%;
    margin-left: 1.5rem;
    padding-left: 2em;
    font-family: mifuente2;
}

.parrafo{
    margin-left: 2em;
    padding-left: 2em;
}

leg{
    background-color: black;
    width: 100%;
    display: inline-block;
}

.tx{
    color:azure;
    text-align: center;

}

.img{
    width: 30%;
    margin: 1em;
}

.box{
    display: flex;
    flex-wrap:wrap;
    justify-content:space-evenly;
    width: 100%;
}

section{

   
    display: flex;
    text-align: center;
    width: 100%;
    background-color: black;
    justify-content:space-evenly;
    color: azure;

}

footer{
    background-color:black;
    text-align: center;
    width: 100%;
    height: 100%;
    color: yellow;
    margin: 0%;
}

.footer{
    margin: 0%;
}