body {
  font-family: "Raleway", sans-serif;
}

/* Hero Section */


#Hero-Section {
  background-image: url("../img/bg-hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}

/* Rutas Ocultas */
.ruta{
  display: none;
}

/* Visual de archivos */
.visual {
  display: grid;
  place-items: center;
  padding: 20px;
  margin-top: 40px;
  background: radial-gradient(circle at top, #222, #000);
}

.visual #visualizador {
  width: min(100%, 1100px);
  height: 80vh;
  box-shadow: 0 20px 60px rgba(0,0,0,.6);
  border-radius: 8px;
}

/* Mis trabajos */

#Mis-trabajos .image-top {
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* Contacto */

#Contacto form label {
  font-weight: 700;
  color: #373a3c;
}

@media (max-width: 768px) {
  #Contacto form label {
    font-weight: 400;
  }

  .navbar-brand{
    width: 100px;
  }

}

#footer{
  display: flex;
  justify-content: center;
}

.card:hover{
  transform: scale(1.1);
  transition: 0.8s;
}

.bgcustom{
  background: rgb(0,162,247);
background: linear-gradient(0deg, rgba(0,162,247,1) 0%, rgba(33,0,75,0.958420868347339) 78%);
}

#Quien_soy{
  animation-name: slideUp !important;
  animation-duration: 2s !important;
  animation-timing-function: ease;
}

.but{
  transition: transform 0.3s ease;
}
.but:hover{
  transform: scaleY(1.5);
}

@keyframes slideUp{
  from{
    opacity: 15%;
  }
  to{
    opacity:100%;
  }
}